@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 style="background-color:red;">WELCOME TO MALLAREDDY COLLEGE OF ENGINEERING </h1>
    <img src="https://cache.careers360.mobi/media/presets/720X480/colleges/social-media/media-gallery/3826/2018/8/21/Malla-Reddy-College-of-Engineering-and-Technology-Hyderabad-1.png"  width="800" height="300" /> <br />

    
</div>

