
@{
    ViewData["Title"] = "aboutus";
}


<h1 style="background-color:yellowgreen;" class="text-center">AboutUS</h1>
<br />
<h2 class="text-center" style="color:orange;"> Institution </h2>
<br />
<h5 class="text-center">
    Malla Reddy College of Engineering (Formerly CM Engineering College) has been established under the aegis of the Malla Reddy Group of institutions in the year 2005, a majestic empire, founded by chairman Sri. Ch. Malla Reddy. He has been in the field of education for the last 22 years with the intention of spearheading quality education among children from the school level itself.

    Since the beginning Mr. Malla Reddy has endeavoured to ensure quality education and carved a niche for himself by managing this group of institutions.

    Malla Reddy College of Engineering has been laid upon a very strong foundation and has ever since been excelling in every aspect. The bricks of this able institute are certainly the adept management, the experienced faculty, the selfless non-teaching staff and of course the students.</h5>
   


